#exampleModal .modal-header {
    flex-direction: column;
}

.simple-line h5 {
    margin: 0;
    font-size: 18px;
    font-family: muli !important;
}

.simple-line {
    text-align: center;
    background-color: #FFCE1A;
    color: #fff;
    padding: 5px 0;
}

#exampleModal .modal-header h4 {
    color: #ff1414;
    font-weight: 800;
}

#exampleModal .modal-header h6 {
    color: #fff;
    font-size: 40px;
    text-transform: capitalize;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
}

.splitflap {
    min-width: 10%;
    font-size: 25px;
    line-height: 39px;
    text-align: center;
    height: 45px;
    color: #fff;
    margin: 5px;
    perspective: 1000px;
    position: relative;
    font-family: yantramanav, sans-serif;
    -webkit-transform: translate3D(0, 0, 0);
}

.splitflap > div {
}

.front-top {
    background-color: #590016 ;
    border-radius: 1.5vmin 1.5vmin 0 0;
    height: 50%;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.front-full {
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: -50%;
    border-radius: 1.5vmin 1.5vmin 1.5vmin 1.5vmin;
    z-index: -1;
    background: #590016 !important;
    transform-origin: center;
}

.front-top:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 100%;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
}

.back-top {
    position: relative;
    height: 50%;
    width: 100%;
    background-color: #FFCE1A;
    margin-top: -100%;
    overflow: hidden;
    border-radius: 1.5vmin 1.5vmin 0 0;
    z-index: 2;
    background-color: #000;
    background: linear-gradient( 180deg, rgba(255, 144, 0, 1) 0%, rgba(255, 162, 42, 1) 100% );
    transform-origin: bottom;
    transform: rotateX(-90deg);
}

.back-top:after {
    position: absolute;
    top: 0px;
    left: 0;
    content: "";
    border-bottom: 1px solid #030303;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background: #590016 ;
    z-index: -1;
}

.back-full {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #590016 ;
    margin-top: -50%;
    border-radius: 1.5vmin 1.5vmin 1.5vmin 1.5vmin;
    z-index: -3;
}

.flip1 {
    animation: flip1 ease-in 1s;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

.flip2 {
    animation: flip2 ease-out 1s;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

@keyframes flip1 {
    0% {
        transform: rotateX(0deg);
        background-color: #FFCE1A;
    }

    50% {
        transform: rotateX(90deg);
        background-color: #000;
    }

    100% {
        transform: rotateX(90deg);
    }
}

@keyframes flip2 {
    0% {
        transform: rotateX(-90deg);
    }

    50% {
        transform: rotateX(-90deg);
    }

    100% {
        transform: rotateX(0deg);
        background-color: #FFCE1A;
    }
}

.splitflap:nth-child(2n):after {
    position: absolute;
    top: 100%;
    left: -65%;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    height: 100%;
    width: 100%;
    z-index: 10;
    font-family: sans-serif;
    font-weight: 100;
    font-family: Muli !important;
    text-transform: capitalize;
}

.splitflap:nth-child(2):after {
    content: "days";
    top: 40px;
}

.splitflap:nth-child(2)::before {
    content: "\3a";
    font-family: "font awesome 6 pro";
    font-size: 29px;
    font-weight: 700;
    color: #fff;
    position: absolute;
    top: -5px;
    right: -11px;
    left: auto;
    width: auto;
    height: auto;
}

.splitflap:nth-child(4):after {
    content: "hours";
    top: 40px;
}

.splitflap:nth-child(4)::before {
    content: "\3a";
    font-family: "font awesome 6 pro";
    font-size: 29px;
    font-weight: 700;
    color: #fff;
    position: absolute;
    top: -5px;
    right: -11px;
    left: auto;
    width: auto;
    height: auto;
}

.splitflap:nth-child(6):after {
    content: "minutes";
    top: 40px;
}

.splitflap:nth-child(6)::before {
    content: "\3a";
    font-family: "font awesome 6 pro";
    font-size: 29px;
    font-weight: 700;
    color: #fff;
    position: absolute;
    top: -5px;
    right: -11px;
    left: auto;
    width: auto;
    height: auto;
}

.splitflap:nth-child(8):after {
    content: "seconds";
    top: 40px;
}

.splitflap:nth-child(even) {
    margin-left: -6px;
    position: relative;
}

.splitflap {
    border: 1.5px solid #000;
    border-radius: 1.5vmin;
    background-color: #590016 ;
}

a.navbar-brand {
    width: 120px;
    padding: 0;
    margin: -30px;
}
